/* $darkest: #405C51;
$darker: #6D9C89;
$main: #88C2AB; 
$lighter: #9ADBC1;
$lightest: #B3FFE0; */

.landing-page {
  display: flex;
  flex-direction: column;
  min-width: 940px;
  margin-top: 60px;
  position: relative;
}

.landing-main {
  background-color: #88C2AB;
  /* display: flex;
  flex-direction: column; */
  position: relative;
}

.landing-main-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 214px;
  color: #fff;
}

.landing-main-div h1 {
  margin: 70px 0 31px 0;
  font-size: 42px;
  font-weight: 400;
  text-align: center;
}