/* $darkest: #405C51;
$darker: #6D9C89;
$main: #88C2AB; 
$lighter: #9ADBC1;
$lightest: #B3FFE0; */

.landing-page {
  display: block;
  min-width: 940px;
  margin-top: 60px;
  position: relative;
}


#landing-main-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 250px;
  color: #fff;
  transition: width 1s;
  z-index: 0;
}

.landing-main-div h1 {
  margin: 70px 0 31px 0;
  font-size: 42px;
  font-weight: 400;
  text-align: center;
}

/* Landing page shift */
#landing-main{
  width: 100%;
  display: inline-block;
  transition: width 1s;
  z-index: 0;
  background-color: #88C2AB;
}

#landing-form{
  position: absolute;
  display: inline-block;
  background-color: white;
  transition:opacity 0.5s;
  opacity: 0;
  width: 40%;
  margin-left: 0px;
  z-index: 10;
  height: 100%;
}

#landing-main-div.show-form{
  width: 60%;
  display: inline-block;
}

#landing-form.show-form{
  display: inline-block;
  opacity: 1;
}