.poll-index-main{
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  /* background-color: rgba(136,194,171,.187); */
  z-index: -1;
  box-sizing: border-box; 
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Assistant', sans-serif;
  color: rgba(28, 28, 28, 0.9);
}

.poll-index-cont,
.poll-index-right{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 10px;
  background-color: white;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 3px;
}
.poll-index-cont{
  width: 65%;
}

.poll-index-right{
  max-height: 400px;
  width: 35%;
  /* padding: 10px; */
  box-sizing: border-box;
}

.poll-index-cont h3,
.poll-index-right h2{
  padding: 20px 10px;
  border-bottom: 1px solid rgb(218, 218, 218);
  color: #405C51;
  font-weight: 700;
  font-size: 20px;
}

.poll-index-cont .poll-index-links{
  position: relative;
  display: block;
  width: 100%;
}
.poll-index-links a {
  display: block;
  padding: 15px 0px;
  padding-left: 10px;
  border-top: 1px solid gray;
  box-sizing: border-box;
  font-size: 16px;
}

.poll-index-links li:first-child a{
  border-top: 0px;
}

.poll-index-links li:nth-child(2n+0){
  background: rgb(154,219,193);
  background: linear-gradient(90deg, rgba(154,219,193,0.024) 0%, rgba(154,219,193,0.1) 10%, rgba(154,219,193,0.02) 100%);
}

.poll-index-links li:hover{
  background: linear-gradient(90deg, rgba(154,219,193,0.024) 0%, rgba(154,219,193,0.3) 10%, rgba(154,219,193,0.02) 100%);
}

.poll-index-right h2{
  text-align: center;
  padding: 21px 10px;
  display: block;
  font-size: 18px;
}

.poll-index-right .side-user-links{
  display: block;
  position: relative;
  text-align: center;
  padding: 20px 0px;
}

.poll-index-right .side-user-links a {
  border: 1px solid rgba(136, 194, 171, 0.61);
  padding: 5px 10px;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  transition: background-color 0.3s;
  color: rgba(19, 19, 19, 0.865);
  /* color: rgb(116, 168, 147); */
}

.poll-index-right .side-user-links a:hover{
  background-color: rgba(136, 194, 171, 0.61);
  /* color: white; */
}

.poll-index-right .poll-count{
  text-align: center;
}

.poll-index-right .did-you-know{
  text-align: center;
  height: auto;
  padding: 20px 0px;
  font-size: 23px;
}