.poll-show-container{
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid rgba(71, 104, 91, 0.582);
  font-family: sans-serif;
  background-color: whitesmoke;
  width: 600px;
}

.poll-show-container > h3 {
  font-size: 22px;
  margin-bottom: 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.438);
  text-align: center;
}

.unexpired {
  text-align: center;
  padding-bottom: 20px;
  font-size: 15px;
}

.expired {
  padding-bottom: 20px;
  font-size: 18px;
  color: red;
  font-weight: bold;
  text-align: center;
}

.poll-choices div button{
  background-color: #88C2AB;
  color: white;
  width: 100%;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 10px;
  margin-bottom: 6px;
  transition: background-color 0.2s;
}

.poll-choices div button:hover {
  background-color: rgb(115, 153, 139);
}

.total-votes {
  margin-top: 20px;
}

.poll-show-graph {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.choice-responses li{
  text-align: center;
  cursor: pointer;
}

.poll-show-image {
    height: 100%;
    width: 100%;
    z-index: -10;
    position: absolute;
    opacity: 0.6;

}

.choice-response:hover  {
   background-color: rgb(220, 233, 228);
}