.poll-index-cont{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: white;
  border-radius: 3px;
}
.poll-index-cont{
  width: 100%;
}

.poll-index-cont h3{
  padding: 20px 10px;
  border-bottom: 1px solid rgb(218, 218, 218);
  color: #405C51;
  font-weight: 700;
  font-size: 20px;
}

.poll-index-cont .poll-index-links{
  position: relative;
  display: block;
  width: 100%;
}
.poll-index-links a {
  display: block;
  padding: 15px 0px;
  padding-left: 10px;
  border-top: 1px solid gray;
  box-sizing: border-box;
  font-size: 16px;
}

.poll-index-links li:first-child a{
  border-top: 0px;
}

.poll-index-links li:nth-child(2n+0){
  background: rgb(154,219,193);
  background: linear-gradient(90deg, rgba(154,219,193,0.024) 0%, rgba(154,219,193,0.1) 10%, rgba(154,219,193,0.02) 100%);
}

.poll-index-links li:hover{
  background: linear-gradient(90deg, rgba(154,219,193,0.024) 0%, rgba(154,219,193,0.3) 10%, rgba(154,219,193,0.02) 100%);
}