.user-poll-main {
  padding-top: 100px;
  display: block;
  width: 100%;
  position: absolute;
  font-family: sans-serif;
  height: 100%;
  overflow-y: auto;
  min-height: 100%;
  z-index: -1;
  box-sizing: border-box;
  min-width: 926px;
}

.user-poll-title{
  font-size: 25px;
  position: sticky;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  padding:0 20px;
  min-height: 100%;
  top: 0px;
  box-sizing: border-box;
}

.did-you-know{
  font-size: 30px;
  position: sticky;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  height: 75px;
  padding:0 20px;
  top: 0px;
  box-sizing: border-box;
}

.random-poll-fact{
  font-size: 20px;
  position: sticky;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  height: 75px;
  padding:0 20px;
  top: 0px;
  box-sizing: border-box;
}

.user-poll-cont{
  position: relative;
  display: inline-block;
  width: 75%;
  padding-left: 20px;
  min-height: 100%;
  border-left: 1px solid gray;
  box-sizing: border-box;
}

.user-poll-cont .active-polls .poll-show-container,
.user-poll-cont .expired-polls .poll-show-container{
  margin-top: 0px;
  margin-bottom: 10px;
}

.user-poll-links{
  position: relative;
  display: block;
  width: 100%;
}

.user-poll-links a {
  display: block;
  padding: 15px 0px;
  padding-left: 10px;
  border-top: 1px solid gray;
  box-sizing: border-box;
  font-size: 16px;
  /* background-color: burlywood; */
}

.no-user-polls {
  padding-top: 100px;
  display: block;
  width: 100%;
  position: absolute;
  font-family: sans-serif;
  height: 100%;
  overflow-y: auto;
  min-height: 100%;
  z-index: -1;
  box-sizing: border-box;
  min-width: 926px;
}

.no-user-polls h2 {
  font-size: 30px;
  position: sticky;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding:0 10px;
  top: 0px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  word-wrap: break-word;
}

.no-user-polls h3 {
  font-size: 24px;
  position: sticky;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding:0 10px;
  top: 400px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  word-wrap: break-word;
}

.user-poll-links li:nth-child(2n+0){
  background: rgb(154,219,193);
  background: linear-gradient(90deg, rgba(154,219,193,0.024) 0%, rgba(154,219,193,0.1) 10%, rgba(154,219,193,0.02) 100%);
}

.user-poll-links li:hover{
  background: linear-gradient(90deg, rgba(154,219,193,0.024) 0%, rgba(154,219,193,0.3) 10%, rgba(154,219,193,0.02) 100%);
}
