.user-poll-container{
  display: block;
  position: relative;
  width: 100%;
}

.user-poll-container .active-polls,
.user-poll-container .expired-polls{
  display: block;
  width: 100%;
  position: relative;
}

.user-poll-container > h3,
.zero-user-polls > h3{
  padding: 20px 10px;
  /* border-bottom: 1px solid rgb(218, 218, 218); */
  color: #405C51;
  font-weight: 700;
  font-size: 20px;
}

.user-poll-container .active-polls h3,
.user-poll-container .expired-polls h3{
  padding: 10px;
  border-bottom: 1px solid rgb(218, 218, 218);
  border-top: 1px solid rgb(218, 218, 218);
  color: #405C51;
  font-weight: 900;
  font-size: 15px;
  background-color: rgb(244, 244, 244);
}

.user-poll-container .active-polls,
.user-poll-container .expired-polls{
  position: relative;
  display: block;
  width: 100%;
}
.active-polls a,
.expired-polls a{
  display: block;
  padding: 15px 0px;
  padding-left: 10px;
  border-top: 1px solid gray;
  box-sizing: border-box;
  font-size: 16px;
}

.user-poll-container > .active-polls > li:first-of-type a,
.user-poll-container > .expired-polls > li:first-of-type a{
  border-top: 0px;
}

.active-polls li:nth-child(2n+0),
.expired-polls li:nth-child(2n+0){
  background: rgb(154,219,193);
  background: linear-gradient(90deg, rgba(154,219,193,0.024) 0%, rgba(154,219,193,0.1) 10%, rgba(154,219,193,0.02) 100%);
}

.active-polls li:hover,
.expired-polls li:hover{
  background: linear-gradient(90deg, rgba(154,219,193,0.024) 0%, rgba(154,219,193,0.3) 10%, rgba(154,219,193,0.02) 100%);
}

.zero-user-polls > h3{
  border-bottom: 1px solid rgb(218, 218, 218);
}

.zero-user-polls p {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: rgb(116, 116, 116);
}
