.voted-polls-container{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: white;
  border-radius: 3px;
  width: 100%;
 }

.voted-polls-container h3,
.no-voted-polls > h3{
  padding: 20px 10px;
  border-bottom: 1px solid rgb(218, 218, 218);
  color: #405C51;
  font-weight: 700;
  font-size: 20px;
}

.voted-polls-container .voted-poll{
  position: relative;
  display: block;
  width: 100%;
}
.voted-poll a {
  display: block;
  padding: 15px 0px;
  padding-left: 10px;
  border-top: 1px solid gray;
  box-sizing: border-box;
  font-size: 16px;
}

.voted-poll li:first-child a{
  border-top: 0px;
}

.voted-poll li:nth-child(2n+0){
  background: rgb(154,219,193);
  background: linear-gradient(90deg, rgba(154,219,193,0.024) 0%, rgba(154,219,193,0.1) 10%, rgba(154,219,193,0.02) 100%);
}

.voted-poll li:hover{
  background: linear-gradient(90deg, rgba(154,219,193,0.024) 0%, rgba(154,219,193,0.3) 10%, rgba(154,219,193,0.02) 100%);
}

.no-voted-polls > h3{
  border-bottom: 1px solid rgb(218, 218, 218);
}

.no-voted-polls p {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: rgb(116, 116, 116);
}