.nav-bar-main {
  position: fixed;
  display: flex;
  background-color: #88C2AB;
  height: 60px;
  width: 100vw;
  z-index: 10;
}

.nav-bar-logged-out {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
  /* margin-top: 5%; */
}

.nav-left {
  width: 25%;
}

.nav-left h1 {
  padding: 10px;
}

.nav-mid {
  /* width: 10%; */
  /* float: right; */
}

.nav-right {
  /* width: 25%; */
  font-size: 23px;
  position: absolute;
  right: 0px;
}

.nav-logo {
  font-size: 35px;
  margin-left: 4%;
  cursor: pointer;
}

.signup-link,
.login-link {
  padding: 18px 10px;
  /* background-color: red; */
  cursor: pointer;
  color: white;
  box-sizing: border-box;
}

.signup-link:hover,
.login-link:hover{
  /* background:linear-gradient(to bottom, #dbe6c4 5%, #405C51 100%); */
  background-color:rgb(124, 172, 154);
  transition: 0.3s;
}

.signup-link {
  border-right: 1px solid white;
}

.nav-right-options {
  display: flex;
  flex-direction: row;
}

.nav-right-options li {
  margin-top: 3px;
  padding: 18px 5px;
  box-sizing: border-box;
  font-size: 17px;
  font-family: sans-serif;
  border-right: 1px solid white;
  cursor: pointer;
  color: white;
}

.nav-right-options li:last-child{
  padding: 18px 20px;
}

.nav-right-options li a {
  padding: 18px 20px;
  box-sizing: border-box;
}

.nav-right-options li:last-child{
  border-right: 0px;
}

.nav-right-options li:hover{
  /* background: rgb(136,194,160); */
  background: linear-gradient(180deg, rgba(136,194,160,0.7175245098039216) 0%, rgba(124,172,154,1) 51%, rgba(136,194,160,0.7063200280112045) 99%);
  transition: 0.3s;
}
