.poll-choices{
  position: relative;
  font-family: sans-serif;
}
.choice-response {
  padding: 10px;
  transition: 0.3s;
  width: 100%;
  border: 1px solid transparent; 
  margin: 3px 0px;
  padding: 10px 0px;
  padding-left: 8px;
  border-radius: 3px;
  box-sizing: border-box;
}

.selected {
  border: 1px solid #6D9C89;
  background-color: rgb(250, 250, 250);
}
